<button class="w-[440px] h-[220px] bg-white shadow-around rounded-[20px] hover:animate-scale-up p-[10px] gap-[10px] ">
    <div class="flex justify-between p-[10px]">
        <h1 class="text-[20px] font-semibold">Nama Toko </h1>
        <h1 class="text-[20px] font-semibold">Alamat</h1>
    </div>
    <div class="p-[10px] flex h-[108px]">
        <h4 class="text-[32px] font-semibold">Nama Layanan</h>
    </div>
    <div class="p-[10px] flex justify-between">
        <p class="text-[16px] font-semibold">[kisaran harga]</p>
        <div class="flex gap-[2px]">
            <img src="/images/person.svg" alt="">
            <p class="text-[16px] font-semibold">100</p>
            <span class="w-[2px]"></span>
            <img src="/images/star.svg" alt="">
            <p class="text-[16px] font-semibold">4.9</p>
        </div>
    </div>
</button>
