<footer class="bg-white rounded-t-[55px] pt-6 drop-shadow-xl">
  <div class="flex justify-between px-20 my-5">
    <div class="flex flex-col">
      <img
        class="size-[100px]"
        src="/images/component/logo-text.svg"
        alt="workall"
      />
      <div class="flex flex-col justify-center">
        <p class="text-[16px]">
          Our vision is to provide convenience and help increase your sales
          business.
        </p>
      </div>
    </div>
    <div class="flex justify-evenly w-[75rem]">
      <ul class="gap-y-2 flex flex-col">
        <li><h1 class="font-bold text-[16px] mb-2">About</h1></li>
        <li><a class="text-[12px]" href="">How</a></li>
        <li><a class="text-[12px]" href="">Featured</a></li>
        <li><a class="text-[12px]" href="">Partnership</a></li>
        <li><a class="text-[12px]" href="">Bussiness Relation</a></li>
      </ul>
      <ul class="gap-y-2 flex flex-col">
        <li><h1 class="font-bold text-[16px] mb-2">Community</h1></li>
        <li><a class="text-[12px]" href="">Events</a></li>
        <li><a class="text-[12px]" href="">Blog</a></li>
        <li><a class="text-[12px]" href="">Podcast</a></li>
        <li><a class="text-[12px]" href="">Invite a friend</a></li>
      </ul>
      <ul class="gap-y-2 flex flex-col">
        <li><h1 class="font-bold text-[16px] mb-2">Social</h1></li>
        <li><a class="text-[12px]" href="">Discord</a></li>
        <li><a class="text-[12px]" href="">Instagram</a></li>
        <li><a class="text-[12px]" href="">Twitter</a></li>
        <li><a class="text-[12px]" href="">Facebook</a></li>
      </ul>
    </div>
  </div>
  <div class="border-t border-[#7D887A] mx-20 flex flex-row items-center h-24">
    <p class="text-[14px]">© 2024 Workall. All rights reserved</p>
  </div>
</footer>
