<footer class="border-t-4 border-[#7D887A]">
  <div class="flex justify-between px-20 my-5">
    <div class="flex flex-col justify-center">
      <h1 class="text-[30px] font-bold">workall</h1>
      <p class="text-[25px]">
        Our vision is to provide convenience and help increase your sales
        business.
      </p>
    </div>
    <div class="flex justify-evenly w-[75rem]">
      <ul class="gap-y-6 flex flex-col">
        <li><h1 class="font-bold text-[23px]">Tentang</h1></li>
        <li><a class="text-[18px]" href="">How</a></li>
        <li><a class="text-[18px]" href="">Featured</a></li>
        <li><a class="text-[18px]" href="">Partnership</a></li>
        <li><a class="text-[18px]" href="">Bussiness Relation</a></li>
      </ul>
      <ul class="gap-y-6 flex flex-col">
        <li><h1 class="font-bold text-[23px]">Komunitas</h1></li>
        <li><a class="text-[18px]" href="">Events</a></li>
        <li><a class="text-[18px]" href="">Blog</a></li>
        <li><a class="text-[18px]" href="">Podcast</a></li>
        <li><a class="text-[18px]" href="">Invite a friend</a></li>
      </ul>
      <ul class="gap-y-6 flex flex-col">
        <li><h1 class="font-bold text-[23px]">Sosial</h1></li>
        <li><a class="text-[18px]" href="">Discord</a></li>
        <li><a class="text-[18px]" href="">Instagram</a></li>
        <li><a class="text-[18px]" href="">Twitter</a></li>
        <li><a class="text-[18px]" href="">Facebook</a></li>
      </ul>
    </div>
  </div>
  <div
    class="border-t-4 border-[#7D887A] mx-20 flex flex-row items-center h-24"
  >
    <p>© 2024 Workall. All rights reserved</p>
  </div>
</footer>
