<header class="border-b border-[#7D887A] bg-white">
  <div class="flex justify-between py-4 mx-4">
    <div class="flex items-center justify-center px-4 text-2xl font-semibold">
      <a class="font-plusJakarta" href="/"
        ><img
          class="h-[35px]"
          src="/images/component/logo-text.svg"
          alt="workall-logo"
      /></a>
    </div>
    <ul class="flex justify-between w-72"></ul>
  </div>
</header>
