<header class="border-b border-[#7D887A]">
  <div class="flex justify-between py-4 mx-4">
    <div class="flex items-center justify-center px-4 text-2xl font-semibold">
      <a class="font-plusJakarta" href="/">workall</a>
    </div>
    <ul class="flex justify-between w-72">
      <li class="flex items-center justify-center underline">
        <a href="/open_shop">Buka Layanan</a>
      </li>
      <li class="flex items-center justify-center">
        <a
          class="text-[#f4f4f4] bg-[#7D887A] border-2 border-[#7D887A] rounded-lg px-4 py-2"
          href="/register"
          >Daftar</a
        >
      </li>
      <li class="flex items-center justify-center">
        <a class="border-2 border-[#7D887A] rounded-lg px-4 py-2" href="/login"
          >Masuk</a
        >
      </li>
    </ul>
  </div>
</header>
