<!-- isi disini -->
<html lang="en">
  <head>
    <%- include('../component/meta/head.ejs') %>
  </head>
  <body>
    <%- include(header) %>
    <!-- pastikan variabel header ada di backend! -->
  </body>
</html>
