<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workall index</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <%- include('./component/header.ejs') %>
    <section class="flex flex-col justify-center items-center">
      <div
        class="mt-10 rounded-xl gap-6 flex flex-col justify-center items-center bg-[#7D887A] w-[734px] h-[290px]"
      >
        <!-- search card -->
        <h1 class="w-[450px] font-semibold text-center text-white text-[46px]">
          Cari <span class="font-serif text-[#383838]">Layanan</span> yang Anda
          Butuhkan
        </h1>
        <span
          class="rounded-xl p-2 flex flex-row justify-between bg-white flex flex-row w-auto justify-center"
        >
          <svg
            class="w-10 pr-1 font-bold"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            ></path>
          </svg>
          <input
            class="rounded-xl px-4 py-2 text-[20px]"
            type="text"
            name=""
            id=""
            placeholder="Cari layanan apapun . . . . "
          />
        </span>
      </div>
      <div
        class="gap-20 flex flex-row justify-center items-center justify-between w-auto p-20"
      >
        <!-- card category -->
        <a
          href=""
          class="size-[182px] rounded-xl bg-white shadow-[0_0px_30px_10px_rgba(0,0,0,0.3)] hover:transition-all duration-300 hover:shadow-[0_0px_40px_20px_rgba(0,0,0,0.3)] hover:bg-[#7D887A]"
        ></a>
        <a
          href=""
          class="size-[182px] rounded-xl bg-white shadow-[0_0px_30px_10px_rgba(0,0,0,0.3)] hover:transition-all duration-300 hover:shadow-[0_0px_40px_20px_rgba(0,0,0,0.3)] hover:bg-[#7D887A]"
        ></a>
        <a
          href=""
          class="size-[182px] rounded-xl bg-white shadow-[0_0px_30px_10px_rgba(0,0,0,0.3)] hover:transition-all duration-300 hover:shadow-[0_0px_40px_20px_rgba(0,0,0,0.3)] hover:bg-[#7D887A]"
        ></a>
        <a
          href=""
          class="size-[182px] rounded-xl bg-white shadow-[0_0px_30px_10px_rgba(0,0,0,0.3)] hover:transition-all duration-300 hover:shadow-[0_0px_40px_20px_rgba(0,0,0,0.3)] hover:bg-[#7D887A]"
        ></a>
        <a
          href=""
          class="size-[182px] rounded-xl bg-white shadow-[0_0px_30px_10px_rgba(0,0,0,0.3)] hover:transition-all duration-300 hover:shadow-[0_0px_40px_20px_rgba(0,0,0,0.3)] hover:bg-[#7D887A]"
        ></a>
      </div>
    </section>
    <%- include('./component/footer.ejs') %>
  </body>
</html>
