<html lang="en">
  <head>
    <%- include ('./component/meta/head.ejs') %>
  </head>
  <body>
    <%- include ('./component/header.ejs') %>
    <div class="h-[580px] flex justify-center items-center">
      <div class="flex justify-center items-center h-[100%] flex-col">
        <p
          class="text-w-green font-inter font-semibold text-[45px] text-center"
        >
          Cari
          <span class="font-normal font-prata text-w-grey">
            Layanan <br
          /></span>
          yang Anda butuhkan
        </p>
        <div
          class="flex flex-row rounded-lg w-[500px] border border-w-green p-1 focus:border-2"
        >
          <input
            class="px-4 py-2 outline-none rounded-xl w-[450px]"
            type="text"
            name="search_landing_page"
            id="search_landing_page"
            placeholder="Cari layanan apapun.."
          />
          <button class="p-3 rounded-md bg-w-green">
            <img src="/images/landing_page/search.svg" alt="Search" />
          </button>
        </div>
        <div class="flex flex-row mt-[70px]">
          <button class="button-category">
            <img src="/images/landing_page/renovasi.svg" alt="Renovasi" />
            <p class="font-medium font-inter text-w-grey">Renovasi</p>
          </button>
          <button class="button-category">
            <img src="/images/landing_page/elektronik.svg" alt="Elektronik" />
            <p class="font-medium font-inter text-w-grey">Elektronik</p>
          </button>
          <button class="button-category">
            <img src="/images/landing_page/plumbing.svg" alt="Plumbing" />
            <p class="font-medium font-inter text-w-grey">Plumbing</p>
          </button>
          <button class="button-category">
            <img src="/images/landing_page/kendaraan.svg" alt="Kendaraan" />
            <p class="font-medium font-inter text-w-grey">Kendaraan</p>
          </button>
          <button class="button-category">
            <img src="/images/landing_page/penyewaan.svg" alt="Penyewaan" />
            <p class="font-medium font-inter text-w-grey">Penyewaan</p>
          </button>
        </div>
      </div>
    </div>
    <div
      class="mb-[-70px] p-[70px] bg-w-green h-[493px] text-w-grey rounded-t-[55px] shadow-md shadow-black"
    >
      <div class="flex flex-col">
        <p class="font-semibold text-[28px]">
          Bagaimana cara kerja
          <span class="font-normal font-plusJakarta">workall</span>?
        </p>
        <div class="flex flex-row">
          <div class="flex flex-col text-[15px]">
            <p class="font-semibold">Penyedia Jasa</p>
            <p class="leading-loose">
              Penyedia jasa di Workall cukup membuat akun, siapkan profil, dan
              <br />
              promosikan jasa. Workall membantu memasarkan jasa dan
              <br />
              menciptakan peluang kerja.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('./component/footer.ejs') %>
  </body>
</html>
