<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
    <%- include('./component/header_login.ejs') %>
    <div class="mx-[120px] my-[30px] gap-[10px]">
        <h1 class="text-[32px] font-semibold">Elektronik</h1>
        <h2 class="text-[24px] font-semibold">Rekomendasi Toko:</h2>
        
        <!-- card toko -->
        <div class=" bg-red-600 py-[10px] gap-x-[10px] flex">
            <!-- nanti disini for each -->
            <button class="bg-[#383838] rounded-[50px] p-[10px] h-[100px] w-[395px] flex items-center">
                <!-- <img class="h-[65px] w-[65px] rounded-[50px]" src="" alt=""> -->
                <div class="size-[80px] bg-black rounded-[50px]"></div>
                <div class="ml-[6px] mr-[10px]">
                    <h3 class="text-[18px] font-semibold text-left">Rafi's Elektronik</h3>
                    <p class="text-[14px] text-left">Sembalun</p>
                </div>
                <div>
                    
                </div>
            </button>
            <button class="bg-[#383838] rounded-[50px] p-[10px] h-[100px] w-[395px] flex items-center">
                <!-- <img class="h-[65px] w-[65px] rounded-[50px]" src="" alt=""> -->
                <div class="size-[80px] bg-black rounded-[50px]"></div>
                <div class="ml-[6px] mr-[10px]">
                    <h3 class="text-[18px] font-semibold text-left">Rafi's Elektronik</h3>
                    <p class="text-[14px] text-left">Sembalun</p>
                </div>
                <div>
                    
                </div>
            </button>
            <button class="bg-[#383838] rounded-[50px] p-[10px] h-[100px] w-[395px] flex items-center">
                <!-- <img class="h-[65px] w-[65px] rounded-[50px]" src="" alt=""> -->
                <div class="size-[80px] bg-black rounded-[50px]"></div>
                <div class="ml-[6px] mr-[10px]">
                    <h3 class="text-[18px] font-semibold text-left">Rafi's Elektronik</h3>
                    <p class="text-[14px] text-left">Sembalun</p>
                </div>
                <div>
                    
                </div>
            </button>
            <button class="bg-[#383838] rounded-[50px] p-[10px] h-[100px] w-[395px] flex items-center">
                <!-- <img class="h-[65px] w-[65px] rounded-[50px]" src="" alt=""> -->
                <div class="size-[80px] bg-black rounded-[50px]"></div>
                <div class="ml-[6px] mr-[10px]">
                    <h3 class="text-[18px] font-semibold text-left">Rafi's Elektronik</h3>
                    <p class="text-[14px] text-left">Sembalun</p>
                </div>
                <div>
                    
                </div>
            </button>
        </div>
        <h2 class="text-[24px] font-semibold">Rekomendasi Layanan:</h2>
        
        <!-- card layanan -->
        <div>

        </div>
    </div>
</body>
</html>