<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workall | Masuk</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
  </head>
  <body class="bg-primary">
    <div class="flex h-screen items-center justify-center">
      <div class="bg-white rounded-[55px] h-96 drop-shadow-lg w-96">
        <div class="flex justify-center items-center mt-6 mb-4">
          <img src="/images/logo.svg" alt="Logo" />
        </div>
        <p class="mt-2 mb-4 text-center text-w-green font-semibold text-xl">
          Masuk
        </p>
        <form
          id="login_form"
          action="/login"
          method="post"
          class="flex items-center justify-center flex-col"
        >
          <input
            class="text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid"
            type="email"
            name="email"
            id="email"
            placeholder="Alamat Email"
          /><br />

          <input
            class="text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />

          <div class="m-1"></div>
          <div
            class="mt-2 p-2 flex justify-end text-w-green font-semibold text-xs"
          >
            <p class="text-right">
              <a href="/">Lupa password?</a>
            </p>
          </div>

          <div class="p-2 mb-2">
            <p class="text-w-green text-xs">
              Belum memiliki akun?
              <a href="/register" class="font-semibold">Daftar</a>
            </p>
          </div>

          <input
            class="button-register mb-6"
            type="submit"
            value="Masuk"
            id="submit_login"
          />
        </form>
      </div>
    </div>
    <script>
      const email = document.getElementById("email");
      const password = document.getElementById("password");
      const submit_login = document.getElementById("submit_login");
    </script>
    <script src="/scripts/password_check.js"></script>
    <!-- <script src="/scripts/check_user.js"></script>
    <script>
      submit_login.addEventListener("click", (event) => {
        login(email.value, password.value);
        event.preventDefault();
      });
    </script> -->
  </body>
</html>
