<nav>
  <div class="flex flex-row">
    <div class="p-4">
      <a href="/">Logo</a>
    </div>
    <ul class="flex flex-row">
      <li class="p-4"><a href="/">Home</a></li>
      <li class="p-4"><a href="/about">About</a></li>
      <li class="p-4"><a href="/services">Services</a></li>
      <li class="p-4"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
