<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workall | Buka Toko</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
  </head>
  <body>
    <%- include(header) %>
    <div class="flex flex-row justify-evenly items-center p-[36px]">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <p class="inter font-semibold text-[20px]">
            Masukkan informasi bisnis Anda
          </p>
          <br />
          <p class="inter font-normal text-center text-[14px]">
            Berikan kami sedikit gambaran tentang bisnis layanan yang <br />Anda
            ingin dirikan. Informasi ini akan ditampilkan di profil <br />publik
            Anda, sehingga calon pelanggan dapat lebih <br />memahami bisnis
            Anda.
          </p>
        </div>
        <img
          src="/images/daftar_toko/rumah.png"
          class="w-[400px]"
          alt="house"
        />
      </div>
      <div
        class="flex items-center justify-center flex-col drop-shadow-md bg-white rounded-[55px] w-[430px]"
        id="register-screen"
      >
        <p class="inter font-semibold text-[20px] my-7">Pendaftaran Bisnis</p>
        <form
          class="flex flex-col"
          action="/open_shop/first-part"
          method="post"
          id="shop_form"
        >
          <!-- section 1 -->
          <div
            class="flex flex-col form-section online w-[100%]"
            id="section_1"
          >
            <label class="mx-10 font-semibold" for="nama_toko"
              >Nama Bisnis</label
            >
            <input
              type="text"
              name="nama_toko"
              placeholder="Masukkan nama bisnis..."
              class="text-input invalid:border-red-500"
              id="req-name"
              required
            />
            <label class="mt-6 mx-10 font-semibold" for="alamat">Alamat</label>
            <input
              type="text"
              name="alamat_toko"
              placeholder="Masukkan alamat..."
              class="text-input"
              id="req-address"
              required
            />
            <label class="mt-6 mx-10 font-semibold" for="kontak">Kontak</label>
            <input
              type="text"
              name="kontak_toko"
              placeholder="Masukkan kontak yang bisa dihubungi..."
              class="text-input"
              id="req-contact"
              required
            />
            <label class="mt-6 mx-10 font-semibold" for="deskripsi"
              >Deskripsi</label
            >
            <textarea
              name="deskripsi"
              class="text-input h-28"
              placeholder="Jelaskan sedikit tentang bisnis anda..."
              maxlength="255"
              id="description"
            ></textarea>

            <input
              type="button"
              value="Selanjutnya"
              id="next_button"
              class="button-register mx-10 mt-6"
            />
          </div>
          <!-- hidden form -->

          <!-- section 2 -->
          <div class="flex flex-col form-section hidden" id="section_2">
            <p class="flex items-center justify-center">Foto Profil Bisnis</p>
            <div class="flex justify-center">
              <img
                src="/images/placeholder/profile-placeholder.png"
                id="placeholder-profile"
                alt="profileapic"
                class="w-[300px] h-[300px] rounded-full mx-10 mt-6"
              />
            </div>
            <input
              type="file"
              id="foto_profil"
              name="foto_profil_toko"
              accept="image/*"
              class="mx-10 mt-[20px] outline-none border rounded bg-primary text-w-green"
            />
            <input
              type="submit"
              value="Selanjutnya"
              id="submit_button"
              class="button-register mx-10 mt-6"
            />

            <div class="flex justify-center items-center">
              <input
                type="submit"
                class="outline-none underline text-w-grey cursor-pointer w-[60px]"
                value="Lewati"
                id="skip_button"
              />
            </div>
          </div>
        </form>
        <!-- section 3 -->
        <div
          class="h-[600px] flex justify-center items-center hidden"
          id="section_3"
        >
          <div>
            <img
              src="/images/daftar_toko/berhasil.svg"
              class="w-[200px]"
              alt="berhasil"
            />
            <br />
            <p
              class="text-center text-neutral-700 text-[32px] font-semibold font-['Inter'] leading-[48px]"
            >
              Berhasil!
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      let shop_data = {};
      // next button animation
      const next_button = document.getElementById("next_button");
      next_button.addEventListener("click", (event) => {
        const name = document.getElementById("req-name").value;
        const address = document.getElementById("req-address").value;
        const contact = document.getElementById("req-contact").value;
        const description = document.getElementById("description").value;
        if (name.value == "") {
          event.preventDefault();
          name.setCustomValidity("Nama harus diisi");
          name.reportValidity();
        }
        shop_data = {
          nama_toko: name,
          alamat_toko: address,
          kontak_toko: contact,
          deskripsi: description,
        };
        next(2);
      });

      const placeholder = document.getElementById("placeholder-profile");
      const fileInput = document.getElementById("foto_profil");
      // changing image when uploaded
      fileInput.addEventListener("change", (event) => {
        const file = fileInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = (event) => {
            placeholder.src = event.target.result;
          };
          reader.readAsDataURL(file);
        } else {
          console.log("No file selected");
        }
      });
      // submitting the form
      const shop_form = document.getElementById("shop_form");
      shop_form.addEventListener("submit", async (event) => {
        event.preventDefault();
        console.log(shop_data);

        const file = fileInput.files[0];

        const sendImage = new FormData();
        sendImage.append("foto_profil_toko", file);

        try {
          const imageResponse = await fetch("/open_shop/profile-pic", {
            method: "POST",
            body: sendImage,
          });

          const imageData = await imageResponse.json();
          if (!imageData.success) {
            throw new Error(imageData.error);
          }
          shop_data["fotos_profil_toko"] = imageData.url;
          const sendForm = shop_data;

          const formResponse = await fetch("/open_shop/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(sendForm),
          });

          const formData = await formResponse.json();
          if (formData.success) {
            next(3);
            window.location.href = formData.redirectUrl;
          } else {
            throw new Error(formData.message);
          }
        } catch (error) {
          console.error("an error occurred:", error);
          alert("An error occurred while submitting the form.");
        }
      });

      // next function
      function next(sectionId) {
        const currentSection = document.querySelector(".form-section.online");
        const nextSection = document.getElementById(`section_${sectionId}`);

        currentSection.classList.remove("online");
        currentSection.classList.add("animate-translate-up");
        currentSection.addEventListener("animationend", () => {
          currentSection.classList.toggle("hidden");

          nextSection.classList.add("animate-translate-down");
          nextSection.classList.add("online");
          nextSection.classList.toggle("hidden");
        });
      }
    </script>
    <!-- <script src="/scripts/open_shop.js"></script> -->
  </body>
</html>
