<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workall | Buka Toko</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
  </head>
  <body>
    <%- include('./component/header_login.ejs') %>
    <div class="flex flex-row justify-evenly items-center p-[36px]">
      <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center">
          <p class="inter font-semibold text-[20px]">
            Daftarkan Layanan Toko Anda
          </p>
          <br />
          <p class="inter font-normal text-center text-[14px]">
            Berikan keterangan terkait layanan yang anda tawarkan <br />
            pada toko anda. Harap gunakan nama serta penjelasan <br />
            yang mudah dimengerti dalam mendaftarkan layanan <br />
            Anda
          </p>
        </div>
        <img
          src="/images/daftar_layanan/thinking.png"
          class="w-[400px]"
          alt="house"
        />
      </div>
      <div
        class="flex items-center justify-center flex-col drop-shadow-md bg-white rounded-[55px] w-[430px]"
        id="register-screen"
      >
        <p class="inter font-semibold text-[20px] my-7">Pendaftaran Layanan</p>
        <form
          class="flex flex-col"
          action="/open_shop/first-part"
          method="post"
          id="layanan_form"
        >
          <!-- section 1 -->
          <div
            class="flex flex-col form-section online w-[100%]"
            id="section_1"
          >
            <label class="mx-10 font-semibold" for="nama_toko"
              >Nama Layanan</label
            >
            <input
              type="text"
              name="nama_layanan"
              placeholder="Masukkan nama layanan..."
              class="text-input invalid:border-red-500"
              id="req-name"
              required
            />
            <label class="mt-6 mx-10 font-semibold" for="harga_starting">Kisaran Harga</label>
            <input
              type="number"
              name="harga_starting"
              placeholder="Kisaran harga..."
              class="text-input"
              id="req-harga"
              required
            />
            <label class="mt-6 mx-10 font-semibold" for="kategori">Kategori</label>
            <select class="text-input text-w-green text-[13px]" name="kategori" id="req-kategori" required>
              <option value="Kategori" selected disabled>Kategori</option>
              <option value="renovasi">Renovasi</option>
              <option value="elektronik">Elektronik</option>
              <option value="plumbing">Plumbing</option>
              <option value="kendaraan">Kendaraan</option>
              <option value="penyewaan">Penyewaan</option>
            </select>
            
            <label class="mt-6 mx-10 font-semibold" for="deskripsi"
              >Deskripsi</label
            >
            <textarea
              name="deskripsi"
              class="text-input h-28"
              placeholder="Jelaskan sedikit tentang layanan anda..."
              maxlength="255"
              id="description"
            ></textarea>

            <input
              type="button"
              value="Selanjutnya"
              id="next_button"
              class="button-register mx-10 mt-6"
            />
          </div>
          <!-- hidden form -->

          <!-- section 2 -->
          
        <div
          class="h-[600px] flex justify-center items-center hidden"
          id="section_2"
        >
          <div>
            <img
              src="/images/daftar_toko/berhasil.svg"
              class="w-[200px]"
              alt="berhasil"
            />
            <br />
            <p
              class="text-center text-neutral-700 text-[32px] font-semibold font-['Inter'] leading-[48px]"
            >
              Berhasil!
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let layanan_data = {};
    // next button animation
    const next_button = document.getElementById("next_button");
    next_button.addEventListener("click", (event) => {
      const name = document.getElementById("req-name").value;
      const harga = document.getElementById("req-harga").value;
      const category = document.getElementById("req-kategori").value;
      const description = document.getElementById("description").value;
      if (name.value == "") {
        event.preventDefault();
        name.setCustomValidity("Nama harus diisi");
        name.reportValidity();
      }
      layanan_data = {
        nama_layanan: name,
        harga_starting: harga,
        kategori: category,
        deskripsi: description,
      };
      console.log(layanan_data);
      next(2);
       send("/open_layanan/add-layanan", layanan_data).then((res)=>{
        if(res.success === true){
          window.location.href = res.redirectUrl;
          
        }else{
          alert(res.message);
          }
          
          }).catch((err)=>{
            console.log(err);
            alert(res.message);
       });
    });

    async function send(url, data) {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      return response.json();
    }

    function next(sectionId) {
      const currentSection = document.querySelector(".form-section.online");
      const nextSection = document.getElementById(`section_${sectionId}`);

      currentSection.classList.remove("online");
      currentSection.classList.add("animate-translate-up");
      currentSection.addEventListener("animationend", () => {
        currentSection.classList.toggle("hidden");

        nextSection.classList.add("animate-translate-down");
        nextSection.classList.add("online");
        nextSection.classList.toggle("hidden");
      });
    }
  </script>
</html>
