<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workall | Buat Akun</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
  </head>
  <body class="bg-primary">
    <%- include(header) %>
    <div class="flex h-screen items-center justify-center">
      <div
        class="bg-white rounded-[55px] h-register-screen drop-shadow-lg w-96"
      >
        <div class="flex justify-center items-center mt-6 mb-4">
          <img src="/images/component/logo.svg" alt="Logo" />
        </div>
        <p class="mt-2 mb-4 text-center text-w-green font-semibold text-xl">
          Daftar
        </p>

        <form
          id="register_form"
          action="/register"
          method="post"
          class="flex items-center justify-center flex-col"
        >
          <input
            class="font-inter focus:outline-none focus:border-2 text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid"
            type="text"
            name="nama_depan"
            id="nama_depan"
            placeholder="Nama depan"
          />
          <br />
          <input
            class="focus:outline-none focus:border-2 text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid"
            type="text"
            name="nama_belakang"
            id="nama_belakang"
            placeholder="Nama belakang"
          />
          <br />
          <input
            class="focus:outline-none focus:border-2 text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid"
            type="email"
            name="email"
            id="email"
            placeholder="Alamat Email"
          /><br />

          <input
            class="text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid invalid:border-rose-600 focus:border-2 focus:invalid:border-rose-600 focus:invalid:ring-rose-600 focus:outline-none"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <br />
          <input
            class="text-sm placeholder:text-w-green w-10/12 p-2 my-1 rounded-md border-w-green border border-solid invalid:border-rose-600 focus:border-2 focus:invalid:border-rose-600 focus:invalid:ring-rose-600 focus:outline-none"
            type="password"
            name="password_confirm"
            id="password_confirm"
            placeholder="Konfirmasi Password"
          />

          <div class="m-4"></div>
          <div
            class="mt-2 p-2 flex justify-end text-w-green font-semibold text-xs"
          ></div>

          <div class="p-2">
            <p class="text-w-green text-xs">
              Sudah memiliki akun?
              <a href="/login" class="font-semibold">Masuk</a>
            </p>
          </div>

          <input
            class="button-register"
            type="submit"
            value="Daftar"
            id="register_button"
          />
        </form>
      </div>
    </div>
    <!-- <script src="/scripts/confirm_password.js"></script> -->
    <script>
      document
        .getElementById("register_form")
        .addEventListener("submit", async (event) => {
          event.preventDefault();

          const formData = new FormData(
            document.getElementById("register_form")
          );
          const data = Object.fromEntries(formData.entries());

          try {
            const response = await fetch("/register", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });

            const result = await response.json();
            if (result.success) {
              window.location.href = result.redirectUrl;
            } else if (result.error.type === "P2002") {
              alert("Email already exists");
            } else {
              alert("Error :(");
            }
          } catch (error) {
            console.error("Fetch Error:", error);
            alert("An error occurred while submitting the form.");
          }
        });
    </script>
  </body>
</html>
