<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workall | Buat Akun</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
  </head>
  <body class="bg-primary">
    <div class="flex h-screen items-center justify-center">
      <div class="bg-white rounded-xl h-register-screen drop-shadow-lg w-96">
        <div class="flex justify-center items-center mt-6 mb-4">
          <img src="/images/logo.svg" alt="Logo" />
        </div>
        <p
          class="mt-2 mb-4 text-center text-workallgreen font-semibold text-xl"
        >
          Daftar
        </p>

        <form
          id="register_form"
          action="/register"
          method="post"
          class="flex items-center justify-center flex-col"
        >
          <input
            class="font-inter focus:outline-none focus:border-2 text-sm placeholder:text-workallgreen w-10/12 p-2 my-1 rounded-md border-workallgreen border border-solid"
            type="text"
            name="nama_depan"
            id="nama_depan"
            placeholder="Nama depan"
          />
          <br />
          <input
            class="focus:outline-none focus:border-2 text-sm placeholder:text-workallgreen w-10/12 p-2 my-1 rounded-md border-workallgreen border border-solid"
            type="text"
            name="nama_belakang"
            id="nama_belakang"
            placeholder="Nama belakang"
          />
          <br />
          <input
            class="focus:outline-none focus:border-2 text-sm placeholder:text-workallgreen w-10/12 p-2 my-1 rounded-md border-workallgreen border border-solid"
            type="email"
            name="email"
            id="email"
            placeholder="Alamat Email"
          /><br />

          <input
            class="text-sm placeholder:text-workallgreen w-10/12 p-2 my-1 rounded-md border-workallgreen border border-solid invalid:border-rose-600 focus:border-2 focus:invalid:border-rose-600 focus:invalid:ring-rose-600 focus:outline-none"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <br />
          <input
            class="text-sm placeholder:text-workallgreen w-10/12 p-2 my-1 rounded-md border-workallgreen border border-solid invalid:border-rose-600 focus:border-2 focus:invalid:border-rose-600 focus:invalid:ring-rose-600 focus:outline-none"
            type="password"
            name="password_confirm"
            id="password_confirm"
            placeholder="Konfirmasi Password"
          />

          <div class="m-4"></div>
          <div
            class="mt-2 p-2 flex justify-end text-workallgreen font-semibold text-xs"
          ></div>

          <div class="p-2">
            <p class="text-workallgreen text-xs">
              Sudah memiliki akun?
              <a href="/login" class="font-semibold">Masuk</a>
            </p>
          </div>

          <input
            class="p-2 mb-6 bg-workallgreen rounded-md w-10/12 text-center text-sm text-white font-semibold hover:cursor-pointer"
            type="submit"
            value="Daftar"
            id="register_button"
          />
        </form>
      </div>
    </div>
    <script src="/scripts/confirm_password.js"></script>
  </body>
</html>
