<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>workall 1.0</title>
  </head>
  <body>
    <h1>this is workall</h1>
    <div>
      <form action="/register" method="post">
        <label for="email">Email:</label><br />
        <input type="email" name="email" id="email" /><br />

        <label for="nama_depan">Nama depan:</label><br />
        <input type="text" name="nama_depan" id="nama_depan" /><br />
        <label for="nama_belakang">Nama belakang:</label><br />
        <input type="text" name="nama_belakang" id="nama_belakang" /><br />

        <label for="username">Username:</label><br />
        <input type="text" name="username" id="username" /><br />

        <label for="password">Password:</label><br />
        <input type="password" name="password" id="password" /><br /><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
