<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Photo</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="ContentPlaceholder w-[1440px] h-[937.50px] px-[300px] py-[22.50px] bg-white flex-col justify-start items-center gap-[15px] inline-flex">
    <div class="ContentPlaceholder px-[19.50px] py-[30px] bg-white flex-col justify-center items-center gap-[7.50px] flex">
      <div class="ContentPlaceholder w-[202.50px] h-[202.50px] relative bg-white">
        <div class="Profile w-[187.50px] h-[187.50px] left-[7.50px] top-[7.50px] absolute bg-zinc-300 rounded-full"></div>
        <div class="Pencil p-1.5 left-[137.25px] top-[159px] absolute bg-white rounded-[9px] shadow flex-col justify-start items-center gap-[7.50px] inline-flex"></div>
      </div>
      <div class="MohammadRafy text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">Mohammad Rafy</div>
      <div class="IdUser text-neutral-700/opacity-50 text-sm font-medium font-['Inter'] leading-tight">[id_user]</div>
    </div>
    <div class="Frame10 self-stretch h-[509.50px] p-[30px] bg-white rounded-[41.25px] shadow flex-col justify-start items-start gap-[7.50px] flex">
      <div class="ContentPlaceholder self-stretch h-[449.50px] p-[7.50px] bg-white flex-col justify-start items-start gap-[7.50px] flex">
        <div class="ContentPlaceholder w-[765px] px-[7.50px] pb-[7.50px] bg-white justify-center items-center gap-[7.50px] inline-flex">
          <div class="BiodataDiri text-neutral-700 text-[21px] font-bold font-['Inter'] leading-loose">Biodata Diri</div>
        </div>
        <div class="Group1329 h-[67.50px] relative">
          <div class="ContentPlaceholder w-[765px] h-[27px] px-[7.50px] left-0 top-0 absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="NamaDepan text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">Nama Depan</div>
          </div>
          <div class="ContentPlaceholder w-[765px] h-[33px] px-[7.50px] left-0 top-[34.50px] absolute bg-white justify-between items-center inline-flex">
            <div class="Mohammad text-neutral-700/opacity-50 text-[15px] font-medium font-['Inter'] leading-snug">Mohammad </div>
            <div class="Button px-[22.50px] py-[7.50px] bg-white rounded-md border border-neutral-500 justify-center items-center gap-1.5 flex">
              <div class="Label text-center text-neutral-500 text-[15px] font-medium font-['Inter'] leading-[18px]">Ganti</div>
            </div>
          </div>
        </div>
        <div class="Line8 self-stretch h-[0px] border border-neutral-500/opacity-50"></div>
        <div class="Group1334 h-[67.50px] relative">
          <div class="ContentPlaceholder w-[765px] h-[27px] px-[7.50px] left-0 top-0 absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="NamaBelakang text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">Nama Belakang</div>
          </div>
          <div class="ContentPlaceholder w-[765px] h-[33px] px-[7.50px] left-0 top-[34.50px] absolute bg-white justify-between items-center inline-flex">
            <div class="Rafy text-neutral-700/opacity-50 text-[15px] font-medium font-['Inter'] leading-snug">Rafy</div>
            <div class="Button px-[22.50px] py-[7.50px] bg-white rounded-md border border-neutral-500 justify-center items-center gap-1.5 flex">
              <div class="Label text-center text-neutral-500 text-[15px] font-medium font-['Inter'] leading-[18px]">Ganti</div>
            </div>
          </div>
        </div>
        <div class="Line6 self-stretch h-[0px] border border-neutral-500/opacity-50"></div>
        <div class="Group1330 h-[57.50px] relative">
          <div class="ContentPlaceholder w-[765px] h-[27px] px-[7.50px] left-0 top-0 absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="AlamatEmail text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">Alamat Email</div>
          </div>
          <div class="ContentPlaceholder w-[765px] h-[23px] px-[7.50px] left-0 top-[34.50px] absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="MuhammadrafiSigmaCom text-neutral-700/opacity-50 text-[15px] font-medium font-['Inter'] leading-snug">muhammadrafi@sigma.com</div>
          </div>
        </div>
        <div class="Line5 self-stretch h-[0px] border border-neutral-500/opacity-50"></div>
        <div class="Group1331 h-[67.50px] relative">
          <div class="ContentPlaceholder w-[765px] h-[27px] px-[7.50px] left-0 top-0 absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="Password text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">Password</div>
          </div>
          <div class="ContentPlaceholder w-[765px] h-[33px] px-[7.50px] left-0 top-[34.50px] absolute bg-white justify-between items-center inline-flex">
            <div class=" w-[191.25px] text-neutral-700/opacity-50 text-[15px] font-medium font-['Inter'] leading-snug">************</div>
            <div class="Button px-[22.50px] py-[7.50px] bg-white rounded-md border border-neutral-500 justify-center items-center gap-1.5 flex">
              <div class="Label text-center text-neutral-500 text-[15px] font-medium font-['Inter'] leading-[18px]">Ganti</div>
            </div>
          </div>
        </div>
        <div class="Line7 self-stretch h-[0px] border border-neutral-500/opacity-50"></div>
        <div class="Group1333 h-[67.50px] relative">
          <div class="ContentPlaceholder w-[765px] h-[27px] px-[7.50px] left-0 top-0 absolute bg-white justify-start items-center gap-[7.50px] inline-flex">
            <div class="NoTelepon text-neutral-700 text-lg font-semibold font-['Inter'] leading-[27px]">No. Telepon</div>
          </div>
          <div class="ContentPlaceholder w-[765px] h-[33px] px-[7.50px] left-0 top-[34.50px] absolute bg-white justify-between items-center inline-flex">
            <div class=" w-[191.25px] text-neutral-700/opacity-50 text-[15px] font-medium font-['Inter'] leading-snug">081234556789</div>
            <div class="Button px-[22.50px] py-[7.50px] bg-white rounded-md border border-neutral-500 justify-center items-center gap-1.5 flex">
              <div class="Label text-center text-neutral-500 text-[15px] font-medium font-['Inter'] leading-[18px]">Ganti</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
